@page "/tools/{id}"
@inherits SubToolsBase

<h1>Product @Id</h1>

@if(ToolsData == null)  
{
    <p>Loading...</p>
} 
else {
    @foreach (var tool in ToolsData.Tools)
    {
        @if(tool.MarkdownFile == Id) {
            <Website.Components.MarkdownContent.MarkdownContent MarkdownFileName=@tool.MarkdownPath() />
        }
    }

}

