@inherits ComponentBase

<section class="sheet">
    <article>
        <div style="margin: 30px; font-size:11px">
            @ChildContent
        </div>
    </article>
</section>


@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
