@page "/resume"
@layout EmptyLayout


<Website.Components.Print.Print>
    <Website.Components.Print.Page.Page>
        <div style="display: grid; grid-template-columns: 1.65fr 5fr;grid-gap:12px;">

            <div style="background-color:#F9F9F9; padding: 2px">
                <Website.Pages.Resume.Block>
                    <Website.Pages.Resume.TitleName>
                        Jonathan McCaffrey
                    </Website.Pages.Resume.TitleName>

                    <Website.Pages.Resume.Title>
                        Software Developer
                    </Website.Pages.Resume.Title>
                </Website.Pages.Resume.Block>
                <Website.Pages.Resume.Section>
                    <Website.Pages.Resume.SectionTitle>
                        Personal Info
                    </Website.Pages.Resume.SectionTitle>
                    <Website.Pages.Resume.Block>
                        <Website.Pages.Resume.Bold>
                            Address
                        </Website.Pages.Resume.Bold>
                        <Website.Pages.Resume.Text>
                            2045 Carling
                        </Website.Pages.Resume.Text>
                    </Website.Pages.Resume.Block>

                </Website.Pages.Resume.Section>

            </div>

            <div>
                <Website.Pages.Resume.Section>
                    <Website.Pages.Resume.SectionTitle>
                        Summary
                    </Website.Pages.Resume.SectionTitle>

                    <Website.Pages.Resume.Block>

                        In the industry since 2012, while playing a pivotal role in all aspects of our software stack while developing native iOS and Android applications. Worked on several projects from design to release, and improved products with features and patches based on customer feedback and data. Moved on to maintaining client APIs, test automation, tooling, and customer success, on cloud-based technology. Currently working in the web development space with React.js.
                        </Website.Pages.Resume.Block>
                </Website.Pages.Resume.Section>
                
            </div>
        </div>
    </Website.Components.Print.Page.Page>

    <Website.Components.Print.Page.Page>
        <div>
            <Website.Pages.Resume.Title>
                Jonathan McCaffrey
            </Website.Pages.Resume.Title>


        </div>
    </Website.Components.Print.Page.Page>
</Website.Components.Print.Print>