@inherits LayoutComponentBase
@inject IStyled Styled


<div style="display:grid;width:100vw;grid-template-rows: 36px auto">
    <Website.Shared.NavBar.NavBar />
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private string theme { get; set; }

}