@page "/resume"
@layout EmptyLayout

<style>
    ul {
        margin-bottom: 0;
    }
</style>

@if (ResumeData == null)
{
    <div>Loading...</div>
}
else
{
    <Print>
        <Page>
            <div style="width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: 27% auto;
                        grid-template-rows: auto auto auto;
                        grid-gap: 12px;">
                <div style="grid-column-start: 1;
                            grid-column-end: 3;
                            grid-row-start: 1;
                            grid-row-end: 2;">
                    <ResumeHead ResumeData="@ResumeData"/>
                </div>
                <div style="grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 2;
                            grid-row-end: 3;">
                    <SideInformation ResumeData="@ResumeData"/>
                </div>
                <div style="grid-column-start: 2;
                            grid-column-end: 3;
                            grid-row-start: 2;
                            grid-row-end: 3;">
                    <SummaryContent ResumeData="@ResumeData"/>
                </div>
                <div style="grid-column-start: 1;
                            grid-column-end: 3;
                            grid-row-start: 3;
                            grid-row-end: 4;">
                    <AdditonalContent ResumeData="@ResumeData"/>
                </div>
            </div>
        </Page>
    </Print>
}