@inherits ComponentBase

<div style="padding-left: 0px;
            padding-right: 0px;
            padding-top: 6px;
            padding-bottom: 6px">
    @ChildContent
</div>


@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
