<div style="display: grid; grid-gap: 2px; background: linear-gradient(#F9F9F9,#F9F9F9,#FFFFFF);  word-wrap: break-word; height:  100%;">
    <Section>
        <SectionTitle>
            Personal Info
        </SectionTitle>

        <Block>
            @foreach (var personInfo in ResumeData.PersonalInfo)
            {
                @if (personInfo.Tags == null || personInfo.Tags.Contains("hidden") == false)
                {
                    <div>
                        <Bold>
                            @personInfo.Name
                        </Bold>
                        <Text>
                            @personInfo.Value
                        </Text>
                    </div>
        
                }
            }
                        
        </Block>
        
    </Section>
    <Section>
        <SectionTitle>
            Skills
        </SectionTitle>

        <Block>
            <div style="display:grid; grid-template-columns:1fr; grid-gap:2px;">
                @foreach (var skill in ResumeData.Skills)
                {
                    <Bold>
                        @skill
                    </Bold>
                }
            </div>
        </Block>
    </Section>
</div>

@code {
    [Parameter]
    public Data.Resume.Resume ResumeData { get; set; }
}