<Section>
    <SectionTitle>
        Summary
    </SectionTitle>
    <Block>
        @ResumeData.Summary
    </Block>
</Section>

  
@code {
    [Parameter]
    public Data.Resume.Resume ResumeData { get; set; }
}